/********************************************************/
/********************* DIAPORAMA ************************/
/********************************************************/


.circles 
{
    text-align: center !important;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.slide {display: none}
img {vertical-align: middle;}

.slide
{
    max-width: 1000px !important;
    position: relative !important;
    margin: auto !important;
}

.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 35%;
    user-select: none;
}

.next 
{
    right: 0;
    border-radius: 35%;
}

.prev:hover, .next:hover 
{
    background-color: rgba(0,0,0,0.8);
}

.dotsContainer
{
    text-align: center;
    margin-bottom: 1%;
}

.text 
{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    left: 15%;
    width: 100%;
    text-align: center;
}


.numbertext 
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover 
{
    background-color: #717171;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#pause {
    margin-left: 46%;
    border-radius: 10px;
    width: 4%;
}

#resume {
    border-radius: 10px;
    width: 4%;
}

@-webkit-keyframes fade 
{
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade 
{
    from {opacity: .4} 
    to {opacity: 1}
}



/********************************************************/
/*********************** AUTRE **************************/
/********************************************************/


.deco {
    display: none;
}

.adminButton {
    z-index: 0;
    border: 1px solid black;
    padding: 2%;
    text-decoration: none;
}

.adminMenu {
    
    display: flex;
}


.adminMenu a { 
    border: 1px solid black;
    text-decoration: none;
    margin: 5%;
    padding: 5%;
}

.adminMenu li {
    
    margin-right: 5%;
    text-decoration: none;
}

footer {
    margin-top: 3%;
}



/********************************************************/
/********************* REPONSIVE ************************/
/********************************************************/


/* Responsive smartphone 360 * 640 */
@media all and (max-width: 600px) {

    /********************************************************/
    /********************* DIAPORAMA ************************/
    /********************************************************/


    .prev, .next {
        position: relative;
        
    }

    .slide img {
        width: 100%;
    }

    .pause, .resume {
        width: 20%;
    }

    .pause {
        margin-left: 39%;
    }

    .text {
        display: none;
    }

}